server:
  port: 8084
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  application:
    name: team3-user
  data:
    redis:
      host: s4.java21.net
      port: 6379
      password: "*N2vya7H@muDTwdNMR!"
      database: 371
  datasource:
    url: jdbc:mysql://s4.java21.net:13306/project_be12_team3?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul&useSSL=false
    username: project_be12_team3
    password: Vu52gc0i(mNxDJyI
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    open-in-view: false

  thymeleaf:
    cache: false

  mail:
    host: smtp.naver.com
    port: 465
    username: wlsdud3309@naver.com
    password: UGZ71BLQVF5V
    properties:
      mail.smtp.auth: true
      mail.smtp.ssl.enable: true
      mail.smtp.starttls.enable: true

  rabbitmq:
    host: s4.java21.net
    port: 5672
    username: admin
    password: 'nhnacademy123!'
    listener:
      simple:
        default-requeue-rejected: false
        acknowledge-mode: auto
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 1000ms
          multiplier: 2.0

rabbitmq:
  exchange:
    name: team3.coupon.exchange
  routing:
    key: team3.coupon.welcome
    book:
      deducted: inventory.deducted.dev
    point:
      deducted: point.deducted.dev
  name: team3.coupon.welcome.queue  #  메시지가 쌓일 실제 우편함 이름입니다.
  queue:
    user: team3.saga.user.queue.dev

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org:
      springframework:
        web: DEBUG
      # For Lazy Loading Test
      hibernate:
        SQL: DEBUG
        orm:
          jdbc:
            bind: DEBUG
    com:
      nhnacademy:
        front:
          client: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always